<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        color:white;
    }

    .big {
        transition: 0.4s;
    }

        .big:hover {
            transform: scale(2);
        }


    .center {
        height: 100%;
        position: relative;
    }

        .center a {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: scaleZ(-50%, -50%);
            transform: scaleZ(-50%, -50%);
        }

    .right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: auto;
    }
</style>

<div class="center" >
    <div class="right">
       @@梓末啊
    </div>
    <a class="big" style="color:#ffffff" href="https://www.showdoc.cc/Feibo?page_id=1911745990798923">API文档说明</a>
</div>

