<!DOCTYPE html>
<html>
<head>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>接口文档</title>    
</head> 
<body style="background:url(https://vlad.studio/fullscreen-preview/?f=skyline&w=1920&h=1080) no-repeat fixed center">  
    @RenderBody()
</body>
</html>
