<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FeiBo.Synchro.Core.Properties.Settings.zzpConnectionString"
        connectionString="Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;packet size=1000;Data Source=192.168.10.5;Initial Catalog=ZM_Dev;User ID=pwd;Password=admin@123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>